<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- El <%= title %> se usa para poder retornar la variable declarada en el /routes/index.js -->
    <title>
        <%= title %>
    </title>
    <!-- Incluyo un documento el cual tiene el link o los links al css -->
    <%- include('partials/head') %>
</head>

<body>
    <h1>Primera pagina</h1>
    <!-- Se usa el menos para dar a entender que se debe ejecutar esa linea de codigo y el include('partials/navigation') lo que hace es importar el archivo de esa url -->
    <%- include('partials/navigation')%>

</body>

</html>