<!-- Se creó este archivo como especie de template para reutilizarlo cada que se necesite en otro codigo, (ver los otros.ejs) -->
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>